* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  width: 100%;
  height: 65%;
  padding-left: 10%;
  padding-top: 5%;
  background-color: #f1f2f2;
  /* background-image: url(background\\(1\).png); */
  background-image: url("background\ \(1\).png");
  background-size: 1200px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-position-y: 90px;
  background-position-x: 600px;
  /* background-origin: content-box; */
}
#main h1 {
  font-weight: 900;
  font-size: 60px;
  /* color: red; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#main p {
  width: 33%;
  font-size: 16px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
}
#form {
  width: 25%;
  /* background-color: red; */
  margin-top: 20px;
}
.icon-img {
  width: 100%;
  display: block;
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  /* background-image: url(email.svg); */
  background-position-x: 5px;
  background-position-y: 10px;
  background-size: 30px;
  background-image: url(email.svg);
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.icon-img1 {
  width: 100%;
  display: block;
  border: none;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  /* background-image: url(email.svg); */
  background-position-x: 5px;
  background-position-y: 10px;
  background-size: 30px;
  background-image: url(password.svg);
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
button {
  display: block;
  color: white;
  font-size: 22px;
  font-weight: 500;
  width: 100%;
  padding: 15px 30px;
  background-color: #b45391;
  border: none;
  border-radius: 5px;
}
a {
  display: block;
  color: #000000;
  text-align: center;
  margin-top: 20px;
}
#footer {
  background-color: #edefef;
  width: 100%;
  height: 34.7%;
  /* padding-left: 10%;
  padding-top: 3%; */
  padding: 3% 15% 3% 10%;
}

#footer table {
  /* background-color: #b45391; */
  width: 100%;
  /* border: 1px solid #f1f2f2; */
}
.list1 {
  font-size: 16px;
  padding: 10px;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  /* color: #b45391; */
}
.img {
  width: 35%;
  /* padding: 15px; */
}
.img p {
  font-size: 16px;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  /* color: rebeccapurple; */
  width: 50%;
}
